.questionnaire {
    text-decoration: none;
    color: #333;
    margin: 10px;

}
.card {
    width: 600px;
    color: grey;
    margin-bottom: 20px;
}
.light-text{
    color: lightgray;
}
.normal-text{
    color: grey;
    font-weight: 600;
}
.right {
    float: right;
    margin-bottom: 20px;
}
.open {
    background-color: #c5e1a5;
    width: fit-content;
}
.close {
    background-color: #ffab91;
    width: fit-content;
}