.titleBody {
    background-image: linear-gradient(75deg, #2471a3, #5DADE2) !important;
    color: #FFFFF0;
    padding: 1.5em;
    margin-top: -0.33em;
    margin-left: -1.2em;
    margin-right: -1.2em;
    font-family: 'Open Sans', sans-serif;
}

.titleA {
    font-weight: bold;
    font-size: xx-large;
}

.titleB {
    font-weight: normal;
    font-size: large;
}