.titleBody {
    background-image: linear-gradient(65deg, #5DADE2, #2471A3);
    color: #FFFFF0 !important;
    font-family: 'Open Sans', sans-serif;
}

.MuiTypography-title {
    color: #FFFFF0 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.dialogBody {
    margin-top: 0.5em !important;
}

.icons {
    margin: 1em;
    height: 70px;
}

.iconButtonDel {
    color: #CA546D;
}

.iconButton {
    color: #2980B9;
}
.myToolbar{
    margin-top: 1em;
}