.titleBody {
    background-image: linear-gradient(65deg, #5DADE2, #2471A3);
    color: #FFFFF0 !important;
    font-family: 'Open Sans', sans-serif;
}

.dialogTitle {
    color: #FFFFF0 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.dialogBody {
    margin-top: 0.5em !important;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
}

.icons {
    margin: 1em;
    height: 120px;
}

.iconButtonDel {
    color: #CA546D;
}

.iconButton {
    color: #2980B9;
}

.myToolbar {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    margin-top: 1em;
}

.toolbarTable {
    background-color: #FFFFFF;
}

.calendar {
    color: #525252 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
    font-weight: normal !important;
    margin-right: 5px;
}

.buttonBlue {
    color: #FFFFF0 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
    font-weight: normal !important;
}