.tabs-style{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    padding: 0;
    margin: 0 10px 0 0;

}

@media (max-width: 2560px) {
    .tabs-style{
        width: 120px  !important;
    }
}

@media (max-width: 600px) {
    .tabs-style{
        width:20px  !important;
    }
}