.pi-times:before {
    content: "" !important;
}

.ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider{
    background-color: #9ccc65 !important;
}

.ui-inputswitch .ui-inputswitch-slider {
    background: #f4511e !important;
}

.required {
    background-color: #c5e1a5;
    width: fit-content;
}

.dropboxQuestion {
    min-width: 350px;
    margin-bottom: 20px;
}

.dialogDependent {
    min-height: 350px;
}

.extras {
    display: inline-block;
    margin-bottom: 10px;
}

.dependent {
    background-color: #b3e5fc;
    width: fit-content;
}

.independent {
    background-color: #eceff1;
    margin-right: 5px;
    width: fit-content;
}