.dialog-client-title{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
}

.dialog-client-body{
    font-family: 'Montserrat', sans-serif !important;
}

.radio-container-client{
    margin: 10px;
}
.radio-item-client{
    display: inline-block;
    width: 150px;
}

.client-input{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 25px;
    margin: 20px  !important;
}

.client-input-label{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 25px;
    font-weight: bold !important;
    display: inline-block;
    margin-right: 20px;
}

.client-input-name{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 22px;
    border: 2px solid #b3afaf;
    width: fit-content;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    min-width: 500px;
    min-height: 44px;
}

