.text {
  font-family: 'Open Sans', sans-serif;
}

.ui-card-title {
  font-family: 'Open Sans', sans-serif !important;
}

.ui-button-text-only .ui-button-text {
  font-family: 'Open Sans', sans-serif !important;
}

.ui-button {
  font-family: 'Open Sans', sans-serif !important;
}

.ui-inputtext {
  font-family: 'Open Sans', sans-serif !important;
}

.SearchAdvancedSeller-heading-128 {
  font-family: 'Open Sans', sans-serif !important;
}

.MuiTypography-body1-47 {
  font-family: 'Open Sans', sans-serif !important;
}

.ui-dropdown-panel .ui-dropdown-item {
  font-family: 'Open Sans', sans-serif !important;
}