.text {
  font-family: 'Open Sans', sans-serif;
}
.ui-card-title {
  font-family: 'Open Sans', sans-serif !important;
}
.ui-button-text-only .ui-button-text .ui-inputtext{
  font-family: 'Open Sans', sans-serif !important;
}
