.label {
  color: #525252 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.imput {
  color: #525252 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  font-weight: normal !important;
  width: 200px !important;
  margin-bottom: 0.5em !important;
}

.imputSmall {
  color: #525252 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  font-weight: normal !important;
  width: 50px !important;
  margin-bottom: 0.5em
}

.button {
  color: #FFFFF0 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  font-weight: normal !important;
  width: 200px;
  margin-bottom: 0.5em
}

.LabelDetail {
  color: #525252 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
}