.titleBody {
  background-image: linear-gradient(65deg, #5DADE2, #2471A3);
  color: #FFFFF0 !important;
  font-family: 'Open Sans', sans-serif;
}

.dialogTitle {
  color: #FFFFF0 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.dialogBody {
  margin-top: 1em !important;
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
}

.icons {
  margin: 1em;
  height: 120px;
}

.iconButtonDel {
  color: #D9534F;
}

.iconButton {
  color: #2980B9;
}

.myToolbar {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  margin-top: 1em;
}

.calendar {
  color: #525252 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  font-weight: normal !important;
  margin-right: 0.2em !important;
}

.buttonBlue {
  color: #FFFFF0 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

.root {
  width: 100% !important;
  margin-top: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.table {
  minWidth: 720;
}

.cells {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.spacer {
  flex: 1 1 100% !important;
}

.toolbarTable {
  background-color: #FFFFFF;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.headTable {
  background-color: #5B5D74;
  color: #FFFFF0 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.sortLabel {
  color: #FFFFF0 !important;
}

.ui-messages-error {
  background-color: #D9534F !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
}

.ui-messages-success {
  background-color: #558B2F !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
}

.ui-messages-info {
  background-color: #5DADE2 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
}

.ui-messages-warn {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
}
